/***** GLOBAL STYLES *****/

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }


.clear-left {
    clear: left;
}

.clear-both {
    clear: both;
}

h1 {
    font-size: 3em;
    margin: 32px 0px;
}

.button {
    display: inline-block;
    border: 2px solid black;
    padding: 16px;
    margin: 24px 0px;
    text-decoration: none;
}



/***** MAIN NAV *****/

.main-menu {
    background-color: #e6e6e6;
    padding: 12px 16px;
}

.main-menu a {
    text-decoration: none;
}

#menu-links-left {
    float: left;
}


#logo img {
    width: 40px;
}

#title {
    font-size: 1.25em;
    margin: 40px 10px 0px 10px;
}


a#title:link {
    color: black;
  }
  
a#title:visited {
    color: black;
  }
  
a#title:hover {
    color: black;
  }
  
a#title:active {
    color: black;
  }


#menu-links-right {
    float: right;
    margin-top: 40px;
}

.menu-link {
    margin-left: 32px;  
}


/***** INDEX PAGE *****/

.intro, .slideshow{
    float: left;
}

.intro{
    width: 33.33%;
    padding: 32px;
}

.intro p {
    font-size: 1em;
    line-height: 1.5em;
}



.slideshow {
    width: 66.66%;
}

.slideshow img {
    width: 100%;
}


/**** Contributers PAGE ****/

.contributers-main {
    max-width: 1140px;
    margin: 56px auto;
    padding: 0px 16px;
}

.contributer-bg {
    background-color: #e6e6e6;
}


.bio {
    float: left;
    width: 33.33%;
    padding: 40px;
}

.bio img {
    width: 100px;
}

.mini-gallery {
    float: right;
    width: 66.66%;
}



.mini-gallery img {
    float: left;
    max-width: 50%;
}

.section-spacer {
    margin-top: 80px;
}





/***** CONTACT PAGE *****/

.three-column {
    float: left;
    width: 33.33%;
    border: 1px solid black;

}

.contact-info {
    
}

.form {
    
}

.fjs-group-social-links {
    
}

.fjs-group-social-links a {
    display: block;
}
    




/***** FOOTER *****/

footer {
    background-color: #e6e6e6;
    padding: 16px;
}

footer p {
    margin: 0px;
}








